*{
	margin:0;
	padding: 0;
	background-color: #dfe3ee;
}
.textbox{
	margin-top: 240px;
	margin-left: 150px;
}
h1{
	font-size: 40px;
	color: #1877f2;
	font-family: serif;
}
h2{
	font-family: Helvetica,Arial,sans-serif;
	font-size: 28px;
	font-weight: normal;
	line-height: 32px;
	width: 500px;
}
.container{
	background-color: #fff;
	float:right;
}
.form{
}